.wrapper {
    border: #999;
}
.wrapper h1 {
    text-align: center;
}
.wrapper p {
    text-align: center;
}
.wrapper button {
    background-color: rgb(211, 13, 63);
    width: 200px;
    height: 30px;
    color: white;
    position: relative;
    
    
}
.promo button {
    background-color: red;
    width: 500px;
    height: 50px;
    font-size: 20px;
    color: white;
}
.left-side-div {
    background-color:aquamarine;
    height: -150px;
    width: 150px;
    clear: both;
}
.right-side-div {
    width: 200px;
    height: 500px;
    background-color: beige;
    clear: both;
}
